.dbg{
    background-color: rgba(255, 166, 65, 0.397);
    border: 1px solid black;
}

/*
    HEADER
*/
header{
    height: 100px;
}

header nav{
    height: 100%;
}




.jumbotron{
    height: 300px;
}


#my-projects{
    height: 600px;
}

#about, #contact-me, footer{
    height: 300px;
}

#about .text_sect_about,
#contact-me .text_sect_contact-me{
    width: 65%;
    margin: 0 auto;
}